<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>UXL Autocomplete component/title></title>
    <script src="/demo/settings.js"></script>
    <script>
      document.addEventListener(
        "WebComponentsReady",
        function componentsReady() {
          document.removeEventListener("WebComponentsReady", componentsReady, false);
          var script = document.createElement("script");
          script.async = true;
          script.src = '<%= htmlWebpackPlugin.files.chunks["main"].entry %>';
          var refScript = document.body.getElementsByTagName("script")[0];
          refScript.parentNode.insertBefore(script, refScript);
        },
        false
      );
    </script>
  </head>
  <body>
    <style>
      body {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
      }
      .content {
        display: flex;
        width: 100%;
        height: 100%;
      }
    </style>
    <script defer src="<%= htmlWebpackPlugin.options.paths.webcomponents %>"></script>
    <div class="content"></div>
  </body>
</html>
